/* video-details.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
  }

.video-container {
    max-width: 800px;
    width: 100%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    padding-bottom: 56.25%; /* 16:9 aspect ratio for responsive design */
    position: relative;
  }

.videoPlayer {
    width: 100%;
    height: 100%;
    display: block;
    border: none; /* Remove border */
    position: absolute;
    top: 0;
    left: 0;
}


/* Style the controls (play, pause, etc.) */
.video::-webkit-media-controls {
    display: none; /* Hide default controls */
}

/* Style the custom controls */
.custom-controls {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px;
    border-radius: 5px;
    color: #fff;
    display: flex;
    justify-content: space-between;
    width: 80%; /* Adjust width as needed */
}

.play-pause, #volume {
    cursor: pointer;
}

/* Style other custom controls as needed */
